@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* General --------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
}

body {
    padding-top: 50px;
    background-color: #f3f8f8;
}

.text-wrap-balance {
    text-wrap: balance;
}

/* Flash messages */
.flashes {
    position: absolute;
    width: 100%;
    line-height: 2;
    background-color: #e1eaec;
    border: 1px solid #6f97a1;
}

/* nav bar------------------------------ */
.bg-body-tertiary {
    background-color: #263238 !important; 
}

.navbar-brand {
    color: white;
}

.navbar-nav .nav-link.active {
    color: white;
}

.navbar { 
    position: absolute; 
    top: 0;
    width: 100%; 
    z-index: 1999; 
    font-size: 16px;
} 

.navbar-toggler {
    color: white;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
}

/* Map Containers----------------------- */
#mapid { 
    height: 100vh;
} 

#user-profile-map { 
    height: 100vh;
} 

#edit-record-map { 
    height: 90vh;
} 

/* Buttons------------------------------ */
.btn {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 200px !important;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1;
    height: auto;
    margin-right:8px;
    transition: background-color 0.3s ease;
}

.primary-btn {
    background-color: #4CAF50 !important;
    color: white !important;
    border:none !important;
}

.primary-btn:hover {
    background-color: #45a049 !important;
}

.secondary-btn {
    border: 1px solid #FFF;
    border-radius: 8px; 
    background-color: transparent;
    color:white;
}

return-home {
    border-radius: 8px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

.edit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;  
}

/* Style for the edit button */
.edit-btn {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
}

/* Style for the delete button */
.delete-btn {
    background-color: #f44336; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none;
 
    font-size: 12px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 0.8; 
}

.btn-spacing {
    margin-right: 25px;
}

.create-btn {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto
}

.clear-btn {
    background-color: #FF9800; 
    color: #fff;
    border: none;
}

.clear-btn:hover {
    background-color: #e68900; /
}

.tertiary-btn {
    background-color: #61a0ac !important; /* Brighter blue-green */
    color: #ffffff; /* Pure white text for better contrast */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tertiary-btn:hover {
    background-color: #558a96 !important; /* Slightly darker for hover effect */
    color: #ffffff !important; /* Ensure text remains white on hover */
}

/* Index.html------------------------------ */

.hero-container {
    background: url(../images/hero-image.webp) no-repeat top center;
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}

.hero-text-container {
    display: flex;
    width: 650px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 32px;
    background: rgba(45, 45, 52, 0.90);
    backdrop-filter: blur(2px);
    margin-left: 80px;
}

.btns-group {
    display: flex;
    direction: column;
}


/* Filter buttons on record.html----------------------- */
.filter-menu {
    background-color: #334046 !important;
}

.filters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.filter-container {
    display: flex;
    gap: 10px;
}
.filter-container select {
    margin-left: 10px;
}

.reset-filters-btn {
    background-color: #547c86;
    color: #f3f8f8;
}

.reset-filters-btn:hover {
    background-color: #486872;
}

/* Side bar (Create Record)----------------------- */
.w3-bar-block { /* Sidebar background color */
    background-color: #375159; 
}

.w3-button { /* Close Button */
    color:  #f3f8f8; 
}

.w3-button:hover { 
    color: #f3f8f8 !important;
    background-color: #3f565f !important;
}

.form-control, .form-select { /* Input fields */
    background-color: #4A6A78; 
    color: #FFFFFF; 
    border: 1px solid #2E4B55;
    padding: 10px;
    border-radius: 5px;
}

.form-select:disabled { 
    background-color: #3A5058; 
    color: #B0C4DE; 
    border: 1px solid #2E4B55; 
    opacity: 0.6;
}

.form-control::placeholder, textarea::placeholder { /* Click for location input colour */
    color: #B0C4DE; 
}

.form-label { /* Placeholder text */
    color: #FFFFFF; 
}

.form-floating>.form-control:not(:placeholder-shown)~label::after { /* Placeholder text after text input */
    background-color:transparent;
}

#location.readonly { /* disable pointers to make it non clickable after input */
    pointer-events: none;
}


/* Login.html----------------------- */
.login-box {
    background-color: #375159;
    color: white;
}

.login-title {
    background-color: #263238;
    color: white;
}

.login-form-input {
    background-color: white;
    height: 48px;
}

/* Logout.html----------------------- */

.successful-logout {
    background-color: #d1e7dd;
}


/* profile.html----------------------- */
.card {
    background-color: #e1eaec;
}


/* Style popup containers----------------------- */
.leaflet-popup-content-wrapper {
    background-color: #3f565f !important; 
    border: none; 
    border-radius: 5px; 
    padding: 10px; 
    box-shadow: 0 24px 36px rgba(7, 6, 6, 0.4) !important;
}


.leaflet-popup-content {
    color: #e1eaec; 
    font-size: 15px !important; 
    line-height: 1.5; 
}


.leaflet-popup-tip {
    background-color: #3f565f !important; 
}


.leaflet-popup-close-button {
    color: #e1eaec !important; 
    font-size: 24px !important; 
}