@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* General --------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
}

body {
    padding-top: 50px;
    background-color: #f3f8f8;
}

.text-wrap-balance {
    text-wrap: balance;
}

.justify-center {
    justify-content: center;
}

/* Flash messages */
.flashes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    width: 100%;
    max-width: 800px; 
}
.alert {
    width: 100%;
    max-width: 800px; 
}

footer {
    background-color: #263238 !important;
    color: white;
}

/* nav bar------------------------------ */
.bg-body-tertiary {
    background-color: #263238 !important; 
}

.navbar-brand {
    color: white;
}

.navbar-nav .nav-link.active {
    color: white;
}

.navbar { 
    position: absolute; 
    top: 0;
    width: 100%; 
    z-index: 1999; 
    font-size: 16px;
} 

.navbar-toggler {
    color: white;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
}

.nav-item {
    margin-right:12px;
}

@media screen and (max-width: 991px) {
    .nav-item {
        margin-bottom: 15px;
        line-height: 1;
    }

    .navbar-collapse {
        margin-top: 15px;
    }
}

/* Map Containers----------------------- */
#mapid { 
    height: 100vh;
}

@media screen and (max-width: 576px) {
    #mapid {
        height: 50svh; 
    }
}

@media screen and (max-width: 576px) {
    #mapid {
        height: 50svh; 
    }
}

#homePageMap { 
    height: 500px;
    width: 100%;
    border-radius: 16px;

}

@media screen and (max-width: 576px) {
    #homePageMap {
        height: 50svh; 
    }
}



/* Buttons------------------------------ */
.btn {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 200px !important;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1;
    height: auto;
    margin-right:8px;
    transition: background-color 0.3s ease;
    width:auto;
}

@media screen and (max-width: 576px) {
    .btn {
        width:100%;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 10px; 
}

.primary-btn {
    background-color: #4CAF50 !important;
    color: white !important;
    border:none !important;
}

.primary-btn:hover {
    background-color: #45a049 !important;
}

.secondary-btn {
    border: 1px solid #FFF!important;
    border-radius: 8px; 
    background-color: transparent;
    color:white!important;
}

.return-btn {
    border-radius: 8px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    margin-top: 10px;
}

.return-btn:hover {
    background-color: black;
    color: white;
}
    
.edit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;  
}

/* Style for the edit button */
.edit-btn {
    background-color: #4CAF50; 
    border: none; 
    color: white !important; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
}

/* Style for the delete button */
.delete-btn {
    background-color: #f44336; 
    border: none; 
    color: white !important; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none;
    font-size: 12px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.delete-btn:hover {
    opacity: 0.8;
    background-color: #f44336;  
}

.edit-btn:hover {
    opacity: 0.8;
    background-color:#4CAF50 ;  
}

.btn-spacing {
    margin-right: 25px;
}

.create-btn {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto
}

.clear-btn {
    background-color: #FF9800; 
    color: #fff;
    border: none;
}

.clear-btn:hover {
    background-color: #e68900; /
}

.tertiary-btn {
    background-color: #61a0ac !important; /* Brighter blue-green */
    color: #ffffff; /* Pure white text for better contrast */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tertiary-btn:hover {
    background-color: #558a96 !important; /* Slightly darker for hover effect */
    color: #ffffff !important; /* Ensure text remains white on hover */
}

.btns-container-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns-container-row {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

@media screen and (max-width: 576px) {
    .btns-container-row {
        flex-direction:column;
        gap:8px;
    }
}


/* Index.html------------------------------ */
.hero {
    background-image: url(../images/hero-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    place-content: center;
    text-align: center;
    transition: all 0.3s ease;
    max-width: 1180px;
    margin: 32px auto;
    border-radius: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-header-container {
    max-width: 740px;
  }
  
.title-text {
    font-size: 56px;
}

  /* Media Queries */
@media (max-width: 570px) {
    .title-text {
        font-size: 36px;
    }
}

.hero-text-container {
    max-width: 780px;;
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

@media screen and (max-width: 835px) {
    .hero {
        padding: 20px 0;
    }

    .hero-text-container {
        margin-left: auto;
        margin-right: auto;
    }
}

.signin {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #263238;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

.homepage-img {
    width: 100%;
}

.content {
    background-color: #f9f9f9;
    padding: 60px 24px;
    border-radius: 32px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    max-width: 1180px;
    margin: 32px auto;
}



section h2 {
    font-size: 2.5rem;
    color: #333;
}

.section p {
    font-size: 1.25rem;
    color: #555;
    line-height: 1.6;
}

.lidarfind-image {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lidarfind-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (max-width: 768px) {
    section {
        text-align: center;
    }

    section .col-md-6 {
        margin-bottom: 30px;
    }
}

/* Cards */
.card {
    background-color: #ffffff;
    color: #263238;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 2rem;
    color: #4CAF50;
}

.panel-icon {
    font-size: 26px;
    margin-bottom: 15px;
}

.lidarfind-image {
    max-width: 500px;
}

section.map-browse {
    background-color: #263238;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    max-width: 1180px;
    margin: 32px auto;
}

.filters-homepage {
    margin-left: auto;
    color: white;
}


/* Filter buttons on record.html----------------------- */
.filter-menu {
    background-color: #334046 !important;
}

.filters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.filter-container {
    display: flex;
    gap: 10px;
}

.filter-container select {
    margin-left: 10px;
}

.reset-filters-btn {
    background-color: #547c86;
    color: #f3f8f8;
}

.reset-filters-btn:hover {
    background-color: #486872;
}

@media screen and (max-width: 645px) {
    .filter-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters-container {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-container {
        flex-direction: column;
        width: 100%;
        gap: 0; 
    }

    .filter-container select {
        width: 100%;
        margin: 10px 0; 
    }

    .reset-filters-btn, .primary-btn {
        width: 100%;
        margin: 10px 0; 
    }
}

/* Side bar Form----------------------- */
.w3-bar-block { /* Sidebar background color */
    background-color: #375159; 
}

.w3-button { /* Close Button */
    color:  #f3f8f8; 
}

.w3-button:hover { 
    color: #f3f8f8 !important;
    background-color: #3f565f !important;
}

.form-control, .form-select, .edit-form { /* Input fields */
    background-color: #4A6A78; 
    color: #FFFFFF; 
    border: 1px solid #2E4B55;
    padding: 10px;
    border-radius: 5px;
}

.form-select:disabled { 
    background-color: #3A5058; 
    color: #B0C4DE; 
    border: 1px solid #2E4B55; 
    opacity: 0.6;
}

.form-control::placeholder, textarea::placeholder { /* Click for location input colour */
    color: #B0C4DE; 
}

.form-label { /* Placeholder text */
    color: #FFFFFF; 
}

.form-floating>.form-control:not(:placeholder-shown)~label::after { /* Placeholder text after text input */
    background-color:transparent;
}

#location.readonly { /* disable pointers to make it non clickable after input */
    pointer-events: none;
}


/* Login.html----------------------- */
.login-box {
    background-color: #375159;
    color: white;
}

.login-title {
    background-color: #263238;
    color: white;
}

/* Logout.html----------------------- */

.successful-logout {
    background-color: #d1e7dd;
}


/* profile.html----------------------- */
.card {
    background-color: #e1eaec;
}


/* Style popup containers----------------------- */
.leaflet-popup-content-wrapper {
    background-color: #3f565f !important; 
    border: none; 
    border-radius: 5px; 
    padding: 10px; 
    box-shadow: 0 24px 36px rgba(7, 6, 6, 0.4) !important;
}


.leaflet-popup-content {
    color: #e1eaec; 
    font-size: 15px !important; 
    line-height: 1.5; 
}


.leaflet-popup-tip {
    background-color: #3f565f !important; 
}


.leaflet-popup-close-button {
    color: #e1eaec !important; 
    font-size: 24px !important; 
}


/* edit_record.html----------------------- */
.edit-page-grid {
    display: grid;
    height: calc(100vh - 54px);
    grid-template-columns: minmax(0, 400px) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.edit-form {
    height: calc(100vh - 54px);
    max-width: 400px;
    width: 100%;
    border-radius: 0px;
    overflow: auto;
}

.edit-map {
    width: 100%;
}

#edit-record-map { 
    height: calc(100vh - 54px);
    width: 100%;
}

@media screen and (max-width: 835px) {
    .edit-page-grid {
        display: flex;
        height: calc(100vh - 54px);
        flex-direction: column-reverse;
    }

    #edit-record-map { 
        height: calc(55vh - 54px);
        width: 100%;
    }

    .edit-form {
        height: 100%;
        max-width: 100%;
        width: 100%;
    }
}