{% extends "base.html" %}

{% block content %}
    <div class="footer-fix error-page">
        <div class="container mb-4">
            <div class="row justify-content-center align-items-center mt-5">
                <div class="col-12 col-md-6 col-lg-4 rounded p-0 login-box">
                    <div class="login-title rounded p-3"> 
                        <h3 class="d-flex justify-content-center align-items-center">403 Error</h3>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="about-text col-12 col-md-6">
                        <h2 class="mb-4">Sorry....</h2>
                        <p>
                            You do not have permission to view this page. 
                        </p>
                        <p><a href="/">Click Here</a> To go to the Home Page</p> 
                    </div>
                </div> 
            </div>
        </section>

        <div class="row">
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('register') }}" class="" aria-label="Need to Register?">Need to Register?</a>
            </div>
        </div>

        <!-- Footer -->
        <footer class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center mt-4">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.facebook.com" aria-label="Go to our facebook page (opens in new tab)" rel="noopener">
                            <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.twitter.com" aria-label="Go to our twitter page (opens in new tab)" rel="noopener">
                            <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.instagram.com" aria-label="Go to our instagram (opens in new tab)" rel="noopener">
                            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.youtube.com" aria-label="Go to our youtube channel (opens in new tab)" rel="noopener">
                            <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <p>This website was made by Charlie Enright as part of the Code Institute Milestone three Project.</p>
            </div>
        </div>
        </footer>
    </div>
{% endblock %}
