{% extends "base.html" %}

{% block styles %}
    <!-- Linking Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
{% endblock %}

{% block content %}
<div class="edit-page-grid">
    <div class="edit-form">
        <h2>Edit Record</h2>
        <form id="edit-record-form" class="needs-validation" method="POST" action="{{ url_for('edit_record', record_id=record._id) }}" novalidate>
             <!-- referrer parameter included as a hidden input field so it is passed to the function -->
            <input type="hidden" name="ref" value="{{ request.args.get('ref') }}">
            <!-- Title -->
            <div class="form-floating mb-4">
                <input id="InputTitle" name="title" minlength="5" maxlength="50" class="form-control" placeholder="Title" required value="{{ record.title }}">
                <label for="InputTitle" class="form-label">Title</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a title.
                </div>
            </div>
            <!-- PRN -->
            <div class="form-floating mb-4">
                <input id="InputPrn" name="prn" minlength="2" maxlength="8" type="text" class="form-control" placeholder="PRN" pattern='^\d+$' value="{{ record.prn }}">
                <label for="InputPrn" class="form-label">PRN (if known)</label>
                <div class="invalid-feedback">
                    Please provide a valid PRN.
                </div>
            </div>
            <!-- Site Type -->
            <div class="mb-4">
                <select id="site_type" class="form-select" name="site_type" required aria-label="Site Type">
                    <option value="" disabled>Select site type</option>
                    {% for site_type in site_types %}
                        {% if site_type.site_type == record.site_type %}
                            <option value="{{ site_type.site_type }}" selected>{{ site_type.site_type }}</option>
                        {% else %}
                            <option value="{{ site_type.site_type }}">{{ site_type.site_type }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="site_type" class="active">Site type</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select a site type.
                </div>
            </div>
            <!-- Monument Type -->
            <div class="mb-4">
                <select id="monument_type" class="form-select" name="monument_type" required aria-label="Monument Type">
                    <option value="" disabled>Select monument type</option>
                    {% for monument_type in monument_types %}
                        {% if monument_type == record.monument_type %}
                            <option value="{{ monument_type }}" selected>{{ monument_type }}</option>
                        {% else %}
                            <option value="{{ monument_type }}">{{ monument_type }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="monument_type" class="active">Monument type</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select a monument type.
                </div>
            </div>
            <!-- description -->
            <div class="mb-4">
                <textarea id="description" name="description" minlength="5" maxlength="200" class="form-control" required aria-label="Description">{{ record.description }}</textarea>
                <label for="description" class="form-label">Description</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
            <!-- Period -->
            <div class="mb-4">
                <select id="period" class="form-select" name="period" required aria-label="Period">
                    <option value="" disabled>Select Period</option>
                    {% for period in periods %}
                        {% if period.period_name == record.period %}
                            <option value="{{ period.period_name }}" selected>{{ period.period_name }}</option>
                        {% else %}
                            <option value="{{ period.period_name }}">{{ period.period_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="period" class="active">Period</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select a period.
                </div>
            </div>
            <!-- Location -->
            <div class="mb-4">
                <input id="location" name="location" minlength="5" maxlength="50" type="text" class="form-control" required value="{{ record.location }}" readonly aria-label="Location">
                <label for="location" class="form-label"></label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a location by clicking on the map.
                </div>
            </div>
            <!-- Submit Button -->
            <div class="btns-container-row justify-center">
                <!-- Credit: W3 schools, Window history.back() -->
                <a class="secondary-btn btn" href="javascript:history.back();" class="my-button is-white-outline w-button">Cancel</a>
                <button type="submit" class="primary-btn btn btn-spacing" aria-label="Save Changes">Save Changes</button>
            </div>
        </form>
    </div>
    <!-- Map -->
    <div class="edit-map">
        <div id="edit-record-map"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/bing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit-record-map.js') }}"></script>
{% endblock %}
