{% extends "base.html" %}

{% block content %}
    <!-- Hero -->
    <div id="hero" class="hero-container">
        <div role="img" aria-label="LiDAR image of a hillfort"></div>
            <div class="hero-text-container">
                <h1 class="text-uppercase">Discover the Historic Environment from Anywhere</h1>
                <p class="tagline">Join our community of citizen scientists and professional archaeologists to explore and document archaeological sites discovered through LiDAR technology.</p>
                <div class="btns-container-row">
                    <a href="{{ url_for('register') }}" class="primary-btn btn">Register Now</a>
                    <a href="{{ url_for('login') }}" class="secondary-btn btn">Log In</a>
                </div>
            </div>
    </div>
    <!-- /.Hero -->
{% endblock %}