{% extends "base.html" %}

{% block styles %}
<!-- Linking Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endblock %}
{% block content %}
    <!-- Hero -->
    <section class="hero overlay">
        <div class="hero-header-container">
            <h1 class="title-text">Discover Wales Through LiDARFind</h1>
        </div>
        <div class="hero-text-container">
            <p class="tagline">Uncover the hidden landscape of Wales using our portal to
                access LiDAR data at your fingertips</p>
        </div>
    </section>

    <!-- Signin -->
    <section class="signin">
        <div class="sign-in-textbox text-center">
            <p>Join our community of citizen scientists and professional archaeologists to explore and
                document archaeological sites discovered through LiDAR technology.</p>
            <div class="btns-container-row justify-center">
                <a href="{{ url_for('register') }}" class="primary-btn btn">Register</a>
                <a href="{{ url_for('login') }}" class="secondary-btn btn">Log In</a>
            </div>
        </div>
    </section>

    <!-- What is LiDAR -->
    <section class="content what-is">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="about-text col-12 col-md-6">
                    <h2 class="mb-4">What is LiDAR</h2>
                    <p>
                        Light Detection and Ranging (LiDAR) is a remote sensing technology that uses laser 
                        pulses to create detailed 3D maps of the Earth's surface. 
                        By measuring the time it takes for laser light to bounce 
                        back from the ground, LiDAR can produce highly accurate models of terrain and surface features.
                    </p>
                    <p>
                        Archaeologists can use LiDAR to reveal subtle ground changes, exposing historical sites that may not 
                        be visible to the naked eye. 
                        This powerful tool allows researchers to discover and map extensive archaeological sites quickly, 
                        even in challenging environments such as beneath trees.
                    </p>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img class="lidarfind-image homepage-img shadow-lg rounded" src="static/images/lidarfind-map-screen.webp" 
                        alt="A screenshot of the map screen from LiDARFind." loading="lazy">
                </div>
            </div> 
        </div>
    </section>

    <!-- About -->
    <section class="content about">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="about-text col-12 col-md-6">
                    <h2 class="mb-4">ABOUT LiDARFind</h2>
                    <p>
                        LiDARFind allows you to explore Wales, 
                        revealing hidden archaeological sites.
                        Our user-friendly platform allows both novices and experts to easily search, view, 
                        and contribute to a growing database of historical discoveries.
                    </p>
                    <p>
                        Using our interactive map, you can navigate through LiDAR imagery of Wales, 
                        identify potential archaeological sites, and save your discoveries. 
                        Whether you're a history enthusiast or a professional archaeologist, 
                        LiDARFind provides the tools to uncover, document, and share meaningful 
                        insights about Wales' unique historic landscape.
                    </p>
                    <p>
                        Every discovery you make and save contributes to a comprehensive map of 
                        Wales' hidden archaeological treasures.
                    </p>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img class="lidarfind-image homepage-img shadow-lg rounded" src="static/images/lidarfind-map-screen.webp" 
                        alt="A screenshot of the map screen from LiDARFind." loading="lazy">
                </div>
            </div> 
        </div>
    </section>

    <!-- Getting Started -->
    <section class="content getting-started">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="panel-icon fa-regular fa-user"></i></h5>
                            <h5 class="card-subtitle mb-2">Register</h5>
                            <p class="card-text">Join our community of archaeology enthusiasts and professionals. 
                                Sign up today to start exploring and contributing to our extensive database of LiDAR discoveries.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="panel-icon fa-solid fa-magnifying-glass"></i></h5>
                            <h5 class="card-subtitle mb-2">Explore</h5>
                            <p class="card-text">Dive into our comprehensive collection of archaeological sites uncovered through LiDAR technology. 
                                Discover hidden histories and expand your knowledge.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa-regular fa-map"></i></h5>
                            <h5 class="card-subtitle mb-2">Record</h5>
                            <p class="card-text">Contribute your own findings and expand our knowledge on this historic environment. 
                                Record and share new archaeological sites with the community using our easy-to-use platform.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tutorial -->
    <section class="content tutorial">
        <div class="container-fluid">
            <div class="row mt-5 mb-5">
                <div class="col-12 col-md-6 my-5">
                    <h2>Getting Started with LiDARFind</h2>
                    <p>
                        Watch our quick tutorial video to learn how to navigate and make the most of our platform. 
                        From registering and exploring archaeological sites to recording your own findings, 
                        this guide will help you get started and become an active member of our community. 
                        Dive in and discover the historic environment like never before!
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;" aria-label="Video: Introduction to LiDARFind">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_xp5ce1ltgc seo=true videoFoam=true" style="height:100%;position:relative;width:100%">
                                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                    <img src="https://fast.wistia.com/embed/medias/xp5ce1ltgc/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </section>

    <!-- Map browse -->
    <section class="content map-browse">
        <div class="is-relative">
            
            <!-- Map Window -->
            <div id="homePageMap" aria-label="Interactive map of archaeological sites">
                <p class="sr-only">This map shows the locations of various archaeological sites. 
                    Use the filter options to narrow down the sites displayed.</p>
            </div>

            <!-- A button to open the popups -->
            <div class="is-absolute popup-buttons-wrapper">
                <button class="btn secondary-btn" onclick="openFilter()" aria-expanded="false" aria-controls="filter">
                    <i class="fa-solid fa-filter" aria-hidden="true"></i>Filters</button>
            </div>

            <!-- Filter options -->
            <div class="is-absolute form-popup filter-popup" id="filter">
                <div class="popup-title-wrapper">
                    <h5>Filters</h5>
                    <button type="button" class="popup-close-btn" onclick="closeFilters()"><i class="fa-regular fa-circle-xmark" ria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                </div>
                <div class="filter-container">
                    <select id="period-filter" name="period" aria-label="Period" class="validate">
                        <option value="" selected>Period</option>
                        {% for period in periods %}
                        <option value="{{ period.period_name }}">{{ period.period_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="period" class="active"></label>
                    <select id="site_type_filter" name="site_type" aria-label="Site Type" class="validate">
                        <option value="" selected>Site type</option>
                        {% for site_type in site_types %}
                        <option value="{{ site_type.site_type }}">{{ site_type.site_type }}</option>
                        {% endfor %}
                    </select>
                    <label for="site_type" class="active"></label>
                    <select id="monument_type_filter" name="monument_type" aria-label="Monument Type" class="validate">
                        <option value="" selected>Monument type</option>
                    </select>
                    <label for="monument_type" class="active"></label>
                    <button id="reset-filters-btn" class="tertiary-btn btn" type="button">Reset</button>  
                </div>
            </div>
        </div>
    </section>

    <!-- Signin -->
    <section class="signin">
        <div class="sign-in-textbox">
            <p>Sign in to LiDARFind to save your discoveries and revisit them anytime.</p>
            <div class="btns-container-row justify-center">
                <a href="{{ url_for('register') }}" class="primary-btn btn">Register</a>
                <a href="{{ url_for('login') }}" class="secondary-btn btn">Log In</a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-12 text-center mt-4">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.facebook.com" aria-label="Go to our facebook page (opens in new tab)" rel="noopener">
                            <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.twitter.com" aria-label="Go to our twitter page (opens in new tab)" rel="noopener">
                            <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.instagram.com" aria-label="Go to our instagram (opens in new tab)" rel="noopener">
                            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.youtube.com" aria-label="Go to our youtube channel (opens in new tab)" rel="noopener">
                            <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <p>This website was made by Charlie Enright as part of the Code Institute Milestone three Project.</p>
            </div>
        </div>
    </footer>
{% endblock %}


  

{% block scripts %}
<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://fast.wistia.com/embed/medias/xp5ce1ltgc.jsonp" async>
</script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<script src="{{ url_for('static', filename='js/bing.js') }}"></script>
<script src="{{ url_for('static', filename='js/homepage-map.js') }}"></script>
</script>
{% endblock %}