{% extends "base.html" %}

{% block content %}

<div class="container mb-4">
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-12 col-md-6 col-lg-4 rounded p-0 login-box">
      <div class="login-title rounded p-3"> 
        <h3 class="d-flex justify-content-center align-items-center"><span>Log in</i></span></h3>
      </div>
      <div class="p-4 mb-3">
        <form class="needs-validation" novalidate method="POST" action="{{ url_for('login') }}">
          <div class="mb-5 position-relative">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control login-form-input" id="username" name="username" minlength="5" 
              maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required aria-label="Username">
            <div class="invalid-tooltip">
              Please provide a valid username.
            </div>
          </div>
          <div class="mb-5 position-relative">
            <label for="password" class="form-label ">Password</label>
            <input type="password" class="form-control login-form-input mb-3" id="password" name="password" minlength="5" maxlength="15"
                  pattern="^[a-zA-Z0-9]{5,15}$" required aria-label="Password">
            <div class="invalid-tooltip">
              Please provide a valid password.
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-lg btn-primary login-btn" aria-label="Log in">
              Log In
            </button>
          </div>
        </form>
    </div>
    </div>
  </div>
</div>





<div class="row">
    <div class="d-flex justify-content-center align-items-center">
        <a href="{{ url_for('register') }}" class="" aria-label="Need to Register?">Need to Register?</a>
    </div>
</div>

{% endblock %}
