{% extends "base.html" %}

{% block content %}

<h3 class="d-flex justify-content-center align-items-center">Log In</h3>

<div class="container d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-4 login-container bg-light p-4 rounded">
      <form method="POST" action="{{ url_for('login') }}">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
            </div>
            <input type="text" class="form-control" id="username" name="username" minlength="5" maxlength="15"
                   pattern="^[a-zA-Z0-9]{5,15}$" required aria-label="Username">
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user-lock"></i></span>
            </div>
            <input type="password" class="form-control" id="password" name="password" minlength="5" maxlength="15"
                   pattern="^[a-zA-Z0-9]{5,15}$" required aria-label="Password">
          </div>
        </div>
        <button type="submit" class="text-center btn btn-primary" aria-label="Log In">
          <span>Log In <i class="fas fa-sign-in-alt"></i></span>
        </button>
      </form>
    </div>
  </div>

<div class="row">
    <div class="d-flex justify-content-center align-items-center">
        <a href="{{ url_for('register') }}" class="" aria-label="Need to Register?">Need to Register?</a>
    </div>
</div>

{% endblock %}
