{% extends "base.html" %}

{% block styles %}
<!-- Linking Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
 integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/L.Control.ResetView.min.css">
{% endblock %}

{% block content %}

 <!-- Flash Messages first time registration and login only -->
<div class="container flash-container">
  <div class="flashes alert-success">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible mt-2 text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>

<div class="container mb-5 mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card p-4">
          <h3 class="text-center text-dark">
            {{ username|upper }}'S PROFILE
          </h3>
          <p><strong>Member since:</strong> {{ member_since }}</p>
          <p><strong>Total Records:</strong> {{ total_records }}</p>
          <a href="{{ url_for('add_record') }}" class="primary-btn btn create-btn">Create a Record<a></a>
        </div>
      </div>
    </div>
  </div>


<!-- Sidebar -->
 <!-- Adapted from: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_sidebar_shift -->
 <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
    <!-- Record Form -->
    <div class="w3-bar-item">
        <div>
            <h4>Site Record</h4>
            <div id="DisplayrecordDetails">
                <p><b>Title:</b> <span id="record-title" aria-label="Record Title"></span></p>
                <p><b>PRN:</b> <span id="record-prn" aria-label="Record PRN"></span></p>
                <p><b>Period:</b> <span id="record-period" aria-label="Record Period"></span></p>
                <p><b>Site Type:</b> <span id="record-site-type" aria-label="Record Site Type"></span></p>
                <p><b>Monument Type:</b> <span id="record-monument-type" aria-label="Record Monument Type"></span></p>
                <p><b>Interpretation:</b> <span id="record-interpretation" aria-label="Record Interpretation"></span></p>
                <p><b>Created on:</b> <span id="record-created-on" aria-label="Record Created On"></span></p>
            </div>
            <div class="mb-3 d-flex flex-row justify-content-center">
                <a href="#" class="btn edit-btn" aria-label="Edit Record">Edit</a>
              <!-- Button trigger modal -->
                <button type="button" class="btn delete-btn" data-bs-toggle="modal" data-bs-target="#confirmDelete">
                  Delete
                </button>
            </div>
            <button id="reset-map-view" class="btn tertiary-btn" aria-label="Reset Map View">Reset Map View</button>
          </div>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-12 text-center mt-4">
          <ul class="list-inline social-links">
              <li class="list-inline-item">
                  <a target="_blank" href="https://www.facebook.com" aria-label="Go to our facebook page (opens in new tab)" rel="noopener">
                      <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                      <span class="sr-only">Facebook</span>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a target="_blank" href="https://www.twitter.com" aria-label="Go to our twitter page (opens in new tab)" rel="noopener">
                      <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                      <span class="sr-only">Twitter</span>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a target="_blank" href="https://www.instagram.com" aria-label="Go to our instagram (opens in new tab)" rel="noopener">
                      <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                      <span class="sr-only">Instagram</span>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a target="_blank" href="https://www.youtube.com" aria-label="Go to our youtube channel (opens in new tab)" rel="noopener">
                      <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                      <span class="sr-only">YouTube</span>
                  </a>
              </li>
          </ul>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-12 text-center">
          <p>This website was made by Charlie Enright as part of the Code Institute Milestone three Project.</p>
      </div>
  </div>
</footer>
<!-- /.Footer -->

<!-- Bootstrap Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="deleteRecordConfirmation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteRecordConfirmation">Delete Record</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you certain you want to delete this site record?</p>
        <p>WARNING: THIS ACTION CANNOT BE REVERSED</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn tertiary-btn" data-bs-dismiss="modal">Cancel</button>
        <a href="#" class="btn delete-btn" aria-label="Delete Record">Delete</a>
      </div>
    </div>
  </div>
</div>


</div>

{% endblock %}

{% block scripts %}
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/bing.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/L.Control.ResetView.min.js"></script>
    <script src="{{ url_for('static', filename='js/user-profile-map.js') }}"></script>
{% endblock %}