{% extends "base.html"%}

{% block styles %}
<!-- Linking Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
 integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
 crossorigin=""/> 
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/L.Control.ResetView.min.css">
{% endblock %}

{% block content%}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align black-text">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s8">
            <div id="user-profile-map"></div>
        </div>
        <div class="col s4">
            <p class="hide-on-click">Click a site on the map to see the record.</p>
            <div class="card blue-grey darken-1 hidden">
                <h4>Site Record</h4>
                <div id="DisplayrecordDetails">
                    <p><b>Title:</b> <span id="record-title"></span></p>
                    <p><b>PRN:</b> <span id="record-prn"></span></p>
                    <p><b>Period:</b> <span id="record-period"></span></p>
                    <p><b>Site Type:</b> <span id="record-site-type"></span></p>
                    <p><b>Monument Type:</b> <span id="record-monument-type"></span></p>
                    <p><b>Interpretation:</b> <span id="record-interpretation"></span></p>
                    <p><b>Created on:</b> <span id="record-created-on"></span></p>
                </div>
                <button id="reset-map-view" class="btn-small">Reset Map View</button>
                <a href="#" class="btn-small blue lighten-1 edit-button">Edit</a>
                <a href="#" class="btn-small red lighten-1 delete-button">Delete</a>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block scripts %}
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/bing.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/L.Control.ResetView.min.js"></script>
    <script src="{{ url_for('static', filename='js/user-profile-map.js') }}"></script>
{% endblock %}



