{% extends "base.html" %}

{% block styles %}
<!-- Linking Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
 integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/L.Control.ResetView.min.css">
{% endblock %}

{% block content %}

 <!-- Flash Messages first time registration and login only -->
<div class="container">
  <div class="alert-success">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible mt-2 text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>

<div class="container mb-5 mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card p-4">
          <h3 class="text-center text-dark">
            {{ username|upper }}'S PROFILE
          </h3>
          <a href="{{ url_for('add_record') }}" class="btn home-btn">Create a Record<a></a>
        </div>
      </div>
    </div>
  </div>


<!-- Sidebar -->
 <!-- Adapted from: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_sidebar_shift -->
 <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
    <!-- Record Form -->
    <div class="w3-bar-item">
        <div>
            <h4>Site Record</h4>
            <div id="DisplayrecordDetails">
                <p><b>Title:</b> <span id="record-title" aria-label="Record Title"></span></p>
                <p><b>PRN:</b> <span id="record-prn" aria-label="Record PRN"></span></p>
                <p><b>Period:</b> <span id="record-period" aria-label="Record Period"></span></p>
                <p><b>Site Type:</b> <span id="record-site-type" aria-label="Record Site Type"></span></p>
                <p><b>Monument Type:</b> <span id="record-monument-type" aria-label="Record Monument Type"></span></p>
                <p><b>Interpretation:</b> <span id="record-interpretation" aria-label="Record Interpretation"></span></p>
                <p><b>Created on:</b> <span id="record-created-on" aria-label="Record Created On"></span></p>
            </div>
            <button id="reset-map-view" class="btn-small" aria-label="Reset Map View">Reset Map View</button>
            <a href="#" class="btn-small blue lighten-1 edit-button" aria-label="Edit Record">Edit</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmDelete">
              Delete
            </button>
        </div>
    </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="deleteRecordConfirmation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteRecordConfirmation">Delete Record</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you certain you want to delete this site record?</p>
        <p>THIS ACTION CANNOT BE REVERSED</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="#" class="btn-small red lighten-1 delete-button" aria-label="Delete Record">Delete</a>
      </div>
    </div>
  </div>
</div>



<!-- Page Content -->
<div id="main" style="margin-left:0">
    <div class="w3-teal">
        <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
            
        </div>
    </div>

    <div class="row">
        <!-- Map Window -->
        <div class="col s12">
            <div id="user-profile-map"></div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block scripts %}
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/bing.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/L.Control.ResetView.min.js"></script>
    <script src="{{ url_for('static', filename='js/user-profile-map.js') }}"></script>
{% endblock %}
