{% extends "base.html" %}

{% block styles %}
    <!-- Linking Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/> 
    {% endblock %}

    {% block content %} 
    <h1> Create a New Record</h1>
    <div class="row">
        <!-- Recording Form -->
        <div class="col s3">
            <div class="row">
                <form class="col s12" method="POST" action="">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">Title</label>
                    </div>

                  </div>
                </form>
              </div>
        </div> 
     
        <!-- Map Window -->
        <div class="col s9">
            <div id="mapid">
        </div>
    </div>

    {% endblock %}
        
    {% block scripts %}
        <!-- Compiled and minified JavaScript -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        <script src="{{ url_for('static', filename='js/bing.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lidar-map.js') }}"></script>
    {% endblock %}

