{% extends "base.html" %}

{% block content %}
<!-- Resources -->
    <section class="content resources">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 text-center">
                    <h1 class="mb-4">Resources</h1>
                    <p>
                        Below we have gathered a range of resources that might help you with your research. 
                    </p>
                </div>
            </div>
        </div>
    </section>
  
    <!-- Resource Links -->
    <section class="content getting-started">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="static/images/archwilio-screenshot.webp" class="card-img-top" alt="" aria-hidden="true">
                        <div class="card-body">
                            <h2 class="card-title">Archwilio</h2>
                            <p class="card-text">Discover archaeological and historical information across Wales with Archwilio's extensive database. Explore records easily by searching data.</p>
                            <a target="_blank" href="https://archwilio.org.uk/wp/#intro-widgets" aria-label="Go to Archwilio (opens in new tab)" rel="noopener" class="btn btn-primary">Visit</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="static/images/nls-screenshot.webp" class="card-img-top" alt="" aria-hidden="true">
                        <div class="card-body">
                            <h2 class="card-title">National Library of Scotland</h2>
                            <p class="card-text">The NLS has a range of historic maps available that might be useful for your research.</p>
                            <a target="_blank" href="https://maps.nls.uk/" aria-label="Go to the National Library of Scotland (opens in new tab)" rel="noopener" class="btn btn-primary">Visit</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="static/images/monument-types-gazetteer.webp" class="card-img-top" alt="" aria-hidden="true">
                        <div class="card-body">
                            <h2 class="card-title">Kent LiDAR Portal</h2>
                            <p class="card-text">The Kent LiDAR portal has a gazetteer of monument types many of which used on LiDARFind.</p>
                            <a target="_blank" href="https://www.kentlidar.org.uk/wp_kent/wp/wp-content/uploads/2023/07/Kent-LiDAR-monument-gazetteer.pdf" aria-label="Go to Kent LiDAR Portal Gazetteer of monument types (opens in new tab)" rel="noopener" class="btn btn-primary">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  

<!-- Footer -->
    <footer class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center mt-4">
            <ul class="list-inline social-links">
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.facebook.com" aria-label="Go to our facebook page (opens in new tab)" rel="noopener">
                        <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.twitter.com" aria-label="Go to our twitter page (opens in new tab)" rel="noopener">
                        <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.instagram.com" aria-label="Go to our instagram (opens in new tab)" rel="noopener">
                        <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.youtube.com" aria-label="Go to our youtube channel (opens in new tab)" rel="noopener">
                        <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                        <span class="sr-only">YouTube</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <p>This website was made by Charlie Enright as part of the Code Institute Milestone three Project.</p>
        </div>
    </div>
    </footer>


{% endblock %}
